<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project PL</title>

     <!-- Bootstrap CSS -->
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


    <!-- TH font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Athiti:wght@500&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type ="text/css" href="{% static 'style/style_all.css' %}">

    <audio autoplay id="bgsound" loop="true">
      <source src="{% static 'audio/sound_1.mp3' %}" type="audio/mp3">
    </audio>
<style>

.navbar,
.navbar .navbar-brand,
.navbar .navbar-text,
.navbar .navbar-nav .nav-link,
footer.bottom

{
  background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font-family: 'Athiti', sans-serif;
    
}
body {
  background-color: black;
}
  header > .container b
{

    color: #ffffff;
    font-size: 96px;

}
h1,h2,h3,h4,h5 {
  color: white;
}
  .text-center >.container{
        color: #ffffff;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 300px;
        width: 100%;  
        border-radius: 25px;
        border-radius: 20%;

    }
</style>

</head>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" >PL</a>

    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/project">project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" >products</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/product_pen">Writing</a></li>
            <li><a class="dropdown-item" href="/product_eraser">Eraser</a></li>
            <li><a class="dropdown-item" href="/product_art">Art</a></li>
            <li><a class="dropdown-item" href="/product_diy">Diy</a></li>
          </ul>
          <li class="nav-item">
            <a class="nav-link nav-link-3" href="/about">About</a>
          </li>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->


<!--Body-->
<body >
<!-- head display -->
<br>
<br>
<header class="text-center py-5 mb-5" >
  <div class="container" >
    <div class="row h-100 ">
      <div class="col-md-12 my-auto">
        <b >{{category}}</b>
      </div>
    </div>

  </div>
</header>
<!-- head display -->

<br>
<!--row-->
<section>
  <div class="container text-center">
    <hr style="color: white;"><h1>Web Scraping </h1><hr style="color: white;">

    <h5> https://natpopshop.com</h5>
    <h5> https://shubaothai.com/</h5>
    <h5> https://www.stationerymine.com/</h5> 
    <h5> https://www.sakura.in.th/th/  </h5>
    <h5> https://thaigoodprice.fun/ </h5>
    <h5> https://www.ohwowshop.com/ </h5>

      <br>
      <img  src="{% static 'img/scrape-1.jpg' %}" style="width: 70%;">
      <br>
      <br>
      <h4> Store in Database  </h4>
      <img  src="{% static 'img/scrape-2.jpg' %}" style="width: 70%;">
  </div>
</section>
<!-- row  -->
<br>
<br>
<section>
  <div class="container text-center">

    <hr style="color: white;"><h1>Database </h1><hr style="color: white;">
      <br>
      <img  src="{% static 'img/db-1.jpg' %}">

  </div>
</section>
<br>
<!-- web page-->

<hr style="color: white;"><section>
  <div class="container text-center">
<h1> Our Web</h1></div>
</section> <hr style="color: white;">

<br>
<section>
  <div class="container text-center">
      <h4> Home Page</h4>
      <br><br>
      <img  src="{% static 'img/navbar.jpg' %}">
      <br><br>
      <img  src="{% static 'img/head.jpg' %}">
      <img  src="{% static 'img/head-web.jpg' %}"style="width: 90%;">
      <br><br>
      <br><br>
      <img  src="{% static 'img/row-home.jpg' %}" >
      <img  src="{% static 'img/row-home-web.jpg' %}" style="width: 90%;" >

  </div>
</section>

<!-- row  -->
<br><br>
<br><br>
<section>
  <main class="px-3">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center text-white " style="background-color: black;">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">See Our Home page</h1>
        <br>
      </div>
      <a href="/index" role="button" class="btn btn-light px-5" target ="_blank"> Home </a>
      <div class="product-device shadow-sm d-none d-md-block"> </div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
  </main>
</section>
<!-- row  -->

<section>
  <div class="container text-center">

      <h4>Products Page </h4>
      <br>
      <img  src="{% static 'img/products-head.jpg' %}" style="width: 90%;">
      <img  src="{% static 'img/products-head-web.jpg' %}" style="width: 90%;">
      <br>
      <br>
      <img  src="{% static 'img/products-bar.jpg' %}" style="width: 90%;" >
      <img  src="{% static 'img/products-search.jpg' %}">
      <h5>views.py</h5>
      <img  src="{% static 'img/products-bar-view.jpg' %}" style="width: 90%;" >
      
      <br><br>
      <br><br>
      <img  src="{% static 'img/products-card.jpg' %}" style="width: 90%;">
      <img  src="{% static 'img/products-subcat-web.jpg' %}" style="width: 60%;">
      <h5>views.py</h5>
      <img  src="{% static 'img/subcat-view.jpg' %}" style="width: 90%;" >
      <br><br>
      <img  src="{% static 'img/products-card-web.jpg' %}" style="width: 90%;">
      <br><br>
      <br><br>
      <img  src="{% static 'img/pagination.jpg' %}" style="width: 90%;">
      <h5>views.py</h5>
      <img  src="{% static 'img/pagination-view.jpg' %}" style="width: 90%;">
      <img  src="{% static 'img/pagination-web.jpg' %}" style="width: 90%;">
  </div>
</section>
<section>
  <main class="px-3">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center text-white " style="background-color: black;">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">See Products</h1>
        <br>
      </div>
      <a href="/product_pen" role="button" class="btn btn-light px-5" target ="_blank"> product </a>
      <div class="product-device shadow-sm d-none d-md-block"> </div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
  </main>
</section>


<footer class="bottom" >
  <br>
  <br>
</footer>
</body>
<!--Body-->


</html>